@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

button{
  opacity: 1;
}

button:hover {
  opacity: 0.9;
}







.fa-twitter:hover {
  opacity: 0.9;
}






.light {
  
  color: #631144;
}
.light #back {
  background-color: #333;
}
body.dark {
  background-color: #430974 !important;
}

.light #container {

  color: #d6bf10 ;
  background-color: #333;
}

.light .quote-text {
  color: #579101;
}

.light .quote-author {
  color: #333;
}

.light .buttons button {
  background-color: #1da1f2;
  color: #f21dc7;
}

.light #new-quote {
  background-color: #f61414;
  color: #333;
}

.light h1 {
  color: #579101;
}

.light button {
  background-color: #579101;
  color: #ffffff;
}

.light a:hover {
  color: #579101;
}

.light #quote-box {
  background-color: rgb(255, 255, 255);
  
  
}

.light .qoute{
  background-color: brown !important;
}

.light .fa-twitter {
  color: #579101;
}





